body {
    box-sizing: border-box;
    height: 100vh;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border: 1px solid red;
}

.layout-container {
    height: 100%;

    display: grid;
    grid-template: 2fr 5fr 5fr / 2fr 7fr;
}

.layout-container>*>* {
    border: 1px solid blue;
}

.sidebar {
    grid-row: 1 / 4;
}

.header {
    grid-column: 2 / 3;
    display: grid;
}



.main-content {
    grid-row: 2 / 4;

    display: grid;
    grid-template: 1fr 1fr / 5fr 2fr;
}

.main-content .projects {
    grid-row: 1 / 3;
}