@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    box-sizing: border-box;
    font-family: Roboto, sans-serif
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 20px 200px;
}

.header .icon {
    width: 35px;
}

.header .links {
    display: flex;
    font-size: 18px;
    gap: 30px;
}

.links a {
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    padding: 20px 200px;
    height: 465px;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero img {
    width: 500px;
}

.hero button {
    padding: 6px 30px;
    margin-top: 10px;
    background-color: #3882f6;
    border: 0px;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 700;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    height: 500px;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information .items {
    display: flex;
    gap: 50px;
}

.information img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 8px;
    object-fit: cover;
    object-position: 15%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quote {
    color: #1f2937;
    background-color: #e5e7eb;
    height: 350px;
    padding: 30px 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.quote .content {
    font-size: 36px;
    
    font-weight: 300;
}

.quote .author {
    align-self: flex-end;
    font-weight: 800;
    font-size: 22px;
}